#riderNum {
    line-height: 60px;
    height: 70px;
    font-size: 50px;
    text-align: center;
}

.hidden {
    max-height: 0px;
    overflow: hidden;
}

#lapDistBtn {
    margin-right: 10px;
}

.tab-content {
    margin-top: 20px;
}

#riderList {
    /*margin-top: -20px;*/
}

#saveDist {
    margin-top: 10px;
}
