<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>MTB Timing</title>

	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body ng-app="app">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MTB Timing</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="./">Control</a></li>
				<li><a href="./countdown.html">Countdown</a></li>
				<li><a href="./results.html">Results</a></li>
			</ul>
			<p class="navbar-text navbar-right noti notiSuccess"></p>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="content" class="col-lg-10 col-lg-offset-1">
		<div id="raceControl" class="col-lg-6">
			<div  ng-controller="searchCtrl">
				<form role="form" id="riderNumForm">
					<div class="form-group">
						<label for="riderNum" hidden>Start Rider</label>
						<input type="number" class="form-control" id="riderNum" placeholder="Start Rider..." ng-model="input" ng-keyup="search.action" autofocus>
					</div>
					<button type="submit" class="btn btn-default" style="display:none">Submit</button>
				</form>
				<div class="col-lg-8 col-md-offset-2">
					<table class="table">
							<tr>
								<td>{{ search.number }}</td>
								<td>{{ search.name }}</td>
								<td>{{ search.category }}</td>
							</tr>
					</table>
				</div>
			</div>

			<h3 style="margin-top:100px;">
				Rider List
				<button class="btn btn-default pull-right">New Rider</button>
			</h3>
			<div id="newRiderBox" style="height:0px;">
				<form role="form" id="newRider">
					<div class="form-group">
						<label for="newName">Name</label>
						<input type="text" class="form-control" id="newName">
					</div>
					<div class="form-group">
						<label for="newNum">Number</label>
						<input type="number" class="form-control" id="newNum">
					</div>
					<div class="form-group">
						<label for="newCat">Category</label>
						<input type="text" class="form-control" id="newCat">
					</div>
					<button type="submit" class="btn btn-primary pull-right">Add Rider</button>
					<button type="button" class="btn btn-default pull-right" id="cancelNewRider" style="margin-right:10px;">Cancel</button>
				</form>	
			</div>
			<div id="riderList">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Category</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>4</td>
							<td>John Smith</td>
							<td>Male</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="currentRiders" class="col-lg-6">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Number</th>
						<th>Name</th>
						<th>Category</th>
						<th>Time</th>
						<th>ETA</th>
					</tr>
				</thead>
				<tbody ng-controller="riderListCtrl" ng-repeat="x in riders">
					<tr>
						<td>{{ riders.number }}</td>
						<td>{{ riders.name }}</td>
						<td>{{ riders.category }}</td>
						<td>{{ riders.current.start }}</td>
						<td>{{ riders.current.end }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="js/angular.js"></script>
	<script src="js/angular/app.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/socket.io.js"></script>
	<script src="js/socket.js"></script>
	<script src="js/script.js"></script>
	<script src="js/angular/searchCtrl.js"></script>
	<script src="js/angular/riderListCtrl.js"></script>
</body>
</html>
