<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>MTB Timing</title>

	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body ng-app="app">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MTB Timing</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="./">Control</a></li>
				<li><a href="./countdown.html">Countdown</a></li>
				<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Results <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="results.html">Summary <span class="glyphicon glyphicon-th pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="handicaps.html">Handicaps</a></li>
                    </ul>
                </li>
			</ul>
			<p class="navbar-text navbar-right noti notiSuccess"></p>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="content" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
		<div id="raceControl" class="col-lg-6 col-md-6" ng-controller="raceCtrl">
			<div>
				<form role="form" id="riderNumForm">
					<div class="form-group">
						<label for="riderNum" hidden>Start Rider</label>
						<input type="number" class="form-control" id="riderNum" placeholder="Start Rider..." ng-model="input" ng-keyup="search.action" autofocus>
					</div>
					<button type="submit" class="btn btn-default" style="display:none">Submit</button>
				</form>
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
					<table class="table">
							<tr>
								<td>{{ search.number }}</td>
								<td>{{ search.name }}</td>
								<td>{{ search.category }}</td>
							</tr>
					</table>
				</div>
			</div>

			<!-- Nav tabs -->
			<br><br>
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#riderList" role="tab" data-toggle="tab">Rider List</a></li>
				<li><a href="#newRiderBox" role="tab" data-toggle="tab">New Rider</a></li>
				<li><a href="#lapDistBox" role="tab" data-toggle="tab">Lap Distance</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="riderList">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Category</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in riders">
								<td>{{ x.number }}</td>
								<td>{{ x.name }}</td>
								<td>{{ x.category }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="newRiderBox">
					<form role="form" id="newRider" class="col-lg-10 col-lg-offset-1">
						<div class="form-group">
							<label for="newName">Name</label>
							<input type="text" class="form-control" id="newName">
						</div>
						<div class="form-group">
							<label for="newNum">Number</label>
							<input type="number" class="form-control" id="newNum">
						</div>
						<div class="form-group">
							<label for="newCat">Category</label>
							<!-- <input type="text" class="form-control" id="newCat"> -->
							<select class="form-control" id="newCat">
								<option>Male</option>
								<option>Female</option>
								<option>Junior Male</option>
								<option>Junior Female</option>
								<option>Double Open</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary pull-right">Add Rider</button>
						<button type="button" class="btn btn-default pull-right" id="cancelNewRider" style="margin-right:10px;">Cancel</button>
					</form>
				</div>
				<div class="tab-pane" id="lapDistBox">
					<div class="col-lg-6 col-lg-offset-3 input-group">
						<form id="lapDistForm" class="form-inline">
							<div class="input-group">
								<input id="lapDist" type="text" placeholder="0" class="form-control">
								<span class="input-group-addon">km</span>
							</div>
							<input type="submit" value="Save" class="form-control btn btn-primary" id="saveDist">
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id="currentRiders" class="col-lg-6 col-md-6">
			<table class="table table-hover" ng-controller="riderListCtrl">
				<thead>
					<tr>
						<th>Number</th>
						<th>Name</th>
						<th>Category</th>
						<th>Time</th>
						<th>ETA</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in active">
						<td>{{ x.number }}</td>
						<td>{{ x.name }}</td>
						<td>{{ x.category }}</td>
						<td>{{ x.time }}</td>
						<td>{{ x.etaTime }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="js/angular.js"></script>
	<script src="js/angular/app.js"></script>
	<script src="js/jquery.js"></script>
    <script src="bootstrap/js/dropdown.js"></script>
	<script src="bootstrap/js/tab.js"></script>
	<script src="js/socket.io.js"></script>
	<script src="js/socket.js"></script>
	<script src="js/script.js"></script>
	<script src="js/angular/raceCtrl.js"></script>
	<script src="js/angular/riderListCtrl.js"></script>
</body>
</html>
